html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a {
  pointer-events: all;
  text-decoration: underline;
  cursor: pointer;
  color: #ffffff;
}
img {
  width: 100%;
  height: 100%;
}

.hambuger-menu {
  display: none;
  pointer-events: all;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  pointer-events: none;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 90vh;
}

.title {
  margin: 0 auto;
  margin-top: 5%;
  width: fit-content;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  text-align: center;
}

.sub-titile {
  font-size: 2.5rem;
}

.car-model-link {
  position: absolute;
  bottom: 10%;
  left: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

.download-btn {
  pointer-events: all;
  position: absolute;
  bottom: 10%;
  right: 0;
}

.customize {
  position: absolute;
  top: 0;
  right: 0;
}

button {
  pointer-events: all;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bolder;
  transition: all 0.4s ease-in-out;
  box-shadow: inset 0 0 0 0.09px black;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 250px 0 0 0 black;
  transform: scale(1.1);
}

.Hide {
  position: absolute;
  right: 10px;
  background-color: #bfc1c7;
  border-radius: 4px;
  padding: 5px;
}

.Hide > span {
  font-size: 0.9rem;
  font-weight: bolder;
}

.sidebar {
  pointer-events: all;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border-radius: 4px;
  padding: 10px;
  width: 350px;
  height: 600px;
  background-color: #9cadd4;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;

  transform-origin: right;
  transition: transform 0.4s ease;
}

.colorPicker {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.colorPicker > input {
  padding: 5px;
  border-radius: 4px;
  background-color: #878787;
  border: none;
  max-width: 200px;
}

.sticker {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
}

.decals {
  display: flex;
  flex-direction: row;
}

.decal {
  width: 40px;
  padding: 7px;
  margin: 2px;
  border-radius: 50%;
  transition: background-color 0.4s;
}

.decal:hover {
  cursor: pointer;
  background-color: #323232;
}

.decal > img {
  width: 100%;
  height: 100%;
}

hr {
  margin: 4;
  border: #323232 0.5px dashed;
}

@media (max-width: 600px) {
  button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .title {
    font-size: 2rem;
    margin-top: 20%;
  }

  .sub-titile {
    font-size: 1.5rem;
  }

  .car-model-link {
    font-size: 1.5rem;
  }

  .customize {
    display: none;
  }

  .hambuger-menu {
    display: block;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: 20px;
  }

  .sidebar {
    width: 300px;
    height: 80vh;
  }

  .sticker {
    width: 90%;
  }
}
